.subContainer{ 
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slide {
    height: 480px;
    width: 100%;
    overflow: hidden;
}

.slide1 {
    background-image: url("/slide2.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slideTxt {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9), 0 0 10px #fff;
    color: #fff;
    text-align: center;
}

.slideTxt h3{
    color: #fff;
}

.categorias {
    width: 100%;
    max-width: 1142px;
    margin: 41px 0 0 0;
}

.cts {
    margin-top: 28px;
    display: flex;
    gap: 79px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .cts {
        align-items: center;
        flex-direction: column;
    }

    /* .slide { 
        display: none;
    } */

    .slideTxt {
        padding: 0 10px;
    }
}