.container {
    max-width: 1142px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.containerFix {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    transform: translateY(-100px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    background-color: #ffff;
}

.subContainerFix {
    max-width: 1142px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5px;
}

.logo {
    height: 75px;
    background: #FFFFFF;
}

.menu ul, .menuMobile ul {  
    list-style-type: none;
    gap: 37px;
    display: flex; 
}  

.menu a, .menuMobile a{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.menu a:hover {
    color: #505050;
}

.search {
    width: 30px;
}

.menuMobile {
    display: none;
}

.menuMbShow {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 184px;
    left: 0;
    right: 0;
    transform: translateY(-100px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 12px 16px 0px rgb(0 0 0 / 10%);
    background-color: #ffff;
}


@media (max-width: 425px) {
    .menu {
        display: none;
    }

    .menuMobile {
        display: flex;
    }

    .menuMobile a {
        font-size: 10px;
    }

    .logo {
        margin: 0 auto;
    }

    .menu ul, .menuMobile ul {  
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
        display: flex; 
        padding: 0;
    }  
}