.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 100px;
    flex-direction: column;
}

.produto {
    box-sizing: border-box;
    width: 268px;
    height: 366px;
    border: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.prdDesc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.prdImg {
    max-width: 200px;
    max-height: 220px;
    position: relative;
}

.logoImg {
    height: 100% !important;
}

.produtosTitle {
    margin-bottom: 31px;
}

.produtos {
    display: grid;
    gap: 23px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.produtos a{
    text-decoration: none;
    color: unset;
}

@media (max-width: 1024px) {
    .produtos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .produtos {
        grid-template-columns: 1fr;
    }

    .container {
        padding-top: 60px;
    }
}