.container{ 
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 62px;
    padding-top: 100px;
}

.imgPrd {
    width: 100%;
    max-width: 633px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
}

.descPrd {
    max-width: 520px;
    display: flex;
    flex-direction: column;
}

.divsorPrd {
    width: 100%;
    height: 5px;
    background: #01305E;
    margin: 32px 0;
}

.contactPrd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactPrd h1{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.btsPrd {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 28px;
    width: 100%;
}

.btsPrd button{
    width: 100%;
    height: 39px;
    background: #01305E;
    border: none;
}

.infPrd h1{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.infPrd p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
    color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 425px) {
    .container {
        width: 90%;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
    }

    .descPrd {
        width: 90%;
    }
}